@model List<BookDto>

<div class="text-center">
    <h1 class="display-4">Welcome, Member!</h1>
    <p>Here are the available books:</p>
</div>

<table id="tblData" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Publication Year</th>
            <th></th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script src="~/js/home.js"></script>
}